* {
    /*margin: 10px;
    padding: 10px;
    box-sizing: border-box;*/
}

.padre {
    display: flex;
    flex-flow: column nowrap;
}

/*/////////////////////////////////////////////*/
.cabecera {
   /* background: #000000;*/
    display: flex;   
    flex-flow: column nowrap;
    border-bottom: 0.05rem solid #DCDEDD;
    border-bottom-color: rgb(220, 222, 221);
    padding-left: 20px;
    padding-right: 20px;

}
    .menu{
        /*background: #bbeaa6;*/
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        height: 65px;
    }
    .nav1{
        /*background: #8105d8;*/
        flex: 1 1 auto;
    }
    .logo{
        /*background: #8105d8;*/
        flex: 1 1 auto;
        display: flex;  
        justify-content: center;
    }
    .nav2{
        /*background: #8105d8;*/
        flex: 1 1 auto;
        display: flex;  
        justify-content: end;
    }
    .botones_superiores{
        padding: 0 10px 0 10px;
    }

    .botones_superiores a{
        text-decoration: none;
        color: #505050;
    } 

    .botones_superiores a:hover {
        text-decoration: none;
        color: green;
    } 

    


/*/////////////////////////////////////////////*/
.categorias {
/* background: #000000;*/
height: 65px;
border-bottom: 0.05rem solid #DCDEDD;
border-bottom-color: rgb(220, 222, 221);
display: flex;   
justify-content: center;
align-items: center;
}
    .menu_categorias{
       /* background: #3c9d9b;*/
    }

    #botonera {
        padding: 0; 
        display: flex;
        align-items: center;     
    }

    #botonera li {
    display: inline;
    }

    #botonera li a {
    text-decoration: none;
    float: left;
    padding: 0px 15px 0px 15px;
    color: #000000;
    }
        
/*/////////////////////////////////////////////*/
.section {

    padding-top: 35px;
    /*background: #000000;*/
    display: flex;
    flex-flow: row nowrap;
}

    .titulos_home{
        text-transform: uppercase;
        padding-bottom: 15px;
        font-size: 12px;
        font-weight: bold;
    }

    .destacado{
        /*background: #3c9d9b; */
        flex: 1 1 50%;
        padding-right: 40px;
    }

    .recomendados{
        /*background: #eaeaea;*/
        flex: 1 1 auto;
        padding-left: 40px;
        border-left: 0.05rem solid #DCDEDD;
        border-left-color: rgb(220, 222, 221);
    }

    .recomendados article {
        /*background: #b2e4d5;*/
        display: flex;
        flex-flow: row nowrap;
        border-bottom: 0.05rem solid #DCDEDD;
        border-bottom-color: rgb(220, 222, 221);
        padding-bottom: 25px;
        padding-top: 10px;
    }
    .contenido_recomendado{
        padding-left: 20px;
    }

    .porcentaje_financiado{
        font-size: 10px;
        font-weight: bold;
        color: green;
    }


    @media all and (max-width: 800px){
        .section{
            flex-direction: column;
        }  
        .recomendados{
            padding: 35px 0 0 0;
        } 
        .nav1{
            display: none;
        }
        .nav2{
            display: none;
        }         

    }

/*/////////////////////////////////////////////*/

.newsletter{
    margin-top: 35px;
    padding: 50px 0 50px 0;
    border-bottom: 0.05rem solid #DCDEDD;
    border-bottom-color: rgb(220, 222, 221);
    border-top: 0.05rem solid #DCDEDD;
    border-top-color: rgb(220, 222, 221);
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    font-family: Cooper Light, Georgia, Times, Times New Roman, serif;
    
    
}
.newsletter p h3 h2 h4 {
    
    font-family: Cooper Light, Georgia, Times, Times New Roman, serif;
}

.atomic-text-input{
font-size: 1.6rem;
border-radius: 0;
width: 100%;
line-height: 1.8rem;
padding: 1.2rem;
border: 0.1rem solid #E8E8E8;
margin: 0;
transition: all 300ms cubic-bezier(0.175, 0.885, 0.335, 1);
-webkit-appearance: none;
background: #FFFFFF;
display: block;
box-sizing: border-box;
resize: none;
}


/*/////////////////////////////////////////////*/

.nuevos_favoritos{
    margin-top: 35px;
    padding: 0 35px 0 35px;
    border-bottom: 0.05rem solid #DCDEDD;
    border-bottom-color: rgb(220, 222, 221);
    padding-bottom: 35px;
}
.card-columns {
    @include media-breakpoint-only(lg) {
      column-count: 5;
    }
    @include media-breakpoint-only(xl) {
      column-count: 5;
    }
  }


/*/////////////////////////////////////////////*/

.publicidad1_home{
margin-top: 35px;
padding: 0 35px 0 35px;
border-bottom: 0.05rem solid #DCDEDD;
border-bottom-color: rgb(220, 222, 221);
padding-bottom: 35px;
display: flex;
flex-flow: row nowrap;
}

.imagen {
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
    margin: 25px;
}

.texto {
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
    margin: 5px;

}